.distance-container {
  display: flex;
  bottom: 8px;
  font-family: 'Knewave', sans-serif;
  font-size: 32px;
  height: fit-content;
  margin-bottom: 10px;
  margin-right: 10px;
  position: absolute;
  right: 266px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 400px;
}

.distance-text {
  text-align: right;
}

.dropdown-style {
  border-radius: 32px;
  background: transparent;
  padding: 1rem;
  box-sizing: border-box;
  color: rgba(255,255,255,0.8);
  background-blend-mode: overlay;
}